<h3>Reviews</h3>
  <% @recipe.comments.each do |comment| %>
    <div class="comment">
      <h4><%= comment.title %></h4>
      <p><%= comment.content %></p>
      <p><small> Added by <%= comment.user.username %></small> </p>
 <!-- Delete button : if ... is so only the user who made it can delete it  -->
      <% if @recipe.user_id == current_user.id %>
      <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  <% end %>

<!-- (comments_new_path) -->
<h3> Add a review</h3>

<%= form_for(comment) do |f| %>

<fieldset class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, class:"form-control" %>
</fieldset>

<fieldset class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class:"form-control"%>
</fieldset>

<%= link_to 'Back', recipes_path %>


<div class="actions">
  <%= f.submit %>
</div>


<% end %>