<!-- If logged in -->

<% if !current_user.nil? %>
<br>
<br>
  <h3><u>Chefs reviews:</u></h3>
  <br>

  <!-- If there is no comment yet -->

  <% if !!@recipe.comments.blank? %>
    <p> No chef rewied this recipe yet. Be the first to comment </p>
    <br>
  <% end %>

  <!-- Displays the comments -->
  <div class="row">
    <div class="col-md-12">
      <% @recipe.comments.each do |comment| %>
        <hr>
        <div class="comment">
          <h5 class="pacifico" align="left"><%= link_to comment.user.username, user_path(comment.user) %>
         
                <%= image_tag(comment.user.rank_image)%>

          </h5>
          <h4 align="left"><%= comment.title %></h4>
          <p align="left"><%= comment.content %> <% if @recipe.user_id == current_user.id %>
          <!-- Delete button : if ... is here so only the user who made it can delete it  -->
          <br><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></p>

        </div>
        <hr>
      <% end %>
     </div>
   </div>

    <!-- Comments form aka New comment -->
    <br>
    <h3><u> Add a review </u></h3>

    <%= form_for(comment) do |f| %>

    <fieldset class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class:"form-control", placeholder: "Title of the review" %>
    </fieldset>

    <fieldset class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class:"form-control", placeholder: "Improvement suggestions, or what you thought of this recipe"%>
    </fieldset>

  
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>


<!-- If not logged in  -->
<% else %>
Not registered yet ? <br>
<a href="/users/sign_in"> Register now </a>and interact with our chef community
<% end %>