<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="form-group">

    <%= f.text_field :title, placeholder: "Recipe Title", class: "form-control new_recipe", autofocus: true %>
  </fieldset>

  <fieldset class="form-group">

    <%= f.text_area :description, placeholder: "Quick description of your chef-d'oeuvre", class: "form-control new_recipe" %>
  </fieldset>

  <fieldset class="form-group">

    <%= f.number_field :difficulty, placeholder: "Difficulty", class: "form-control new_recipe" %> From 1-5
  </fieldset>

  <fieldset class="form-group">
    <%= f.number_field :servings, placeholder: "Servings", class: "form-control new_recipe" %> person(s)
  </fieldset>

  <fieldset class="form-group">
   <%= f.file_field :pictures, multiple: true, class:"form-control new_recipe", accept: "image/jpeg, image/jpg, image/gif, image/png" %>
  </fieldset> 

<!-- 
  <fieldset class="form-group">
    <%#= f.label :image %>
    <%#= f.file_field :recipe_image, class: "form-control new_recipe" %>
  </fieldset>
 -->


  <fieldset class="form-group">
    <%= f.number_field :preptime, placeholder: "Preptime", class: "form-control new_recipe" %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.number_field :cooktime, placeholder: "Cooktime", class: "form-control new_recipe" %>
  </fieldset>

  <fieldset>
    <%= f.label :ingredients %>
    <%= f.hidden_field :ingredients, value: recipe.ingredients  %>

    <% recipe.ingredient_list.each do |ingredient| %>
      <input type="text" name="ingredient" value="<%= ingredient %>" class="form-control new_recipe" placeholder="Add an ingredient">
    <% end %>

    <input type="text" name="ingredient" class="form-control new_recipe" placeholder="Add an ingredient">
  </fieldset>


  <fieldset>
    <%= f.label :directions %>
    <%= f.hidden_field :directions, value: recipe.directions %>

    <% recipe.direction_list.each do |direction| %>
      <input type="text" name="direction" value="<%= direction %>" class="form-control new_recipe" placeholder="Add a direction">
    <% end %>

    <input type="text" name="direction" class="form-control new_recipe" placeholder="Add a direction">
  </fieldset>

<br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>
