<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




  <fieldset class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :difficulty %>
    <%= f.number_field :difficulty %> From 1-5
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :image %>
    <%= f.file_field :recipe_image %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :preptime %>
    <%= f.number_field :preptime %>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :cooktime %>
    <%= f.number_field :cooktime %>
  </fieldset>

  <fieldset>
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients %>
  </fieldset>

  <fieldset>
    <%= f.label :directions %>
    <%= f.text_area :directions %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
