<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
<strong>by </strong>
  <%= @recipe.user.username %>
</p>

<% @recipe.pictures.each do |picture| %>
<p>
  <%= image_tag picture %>
</p>
<% end %>

<p>
  <strong>Difficulty:</strong>
  <%= @recipe.difficulty %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Preptime:</strong>
  <%= @recipe.preptime %>
</p>

<p>
  <strong>Cooktime:</strong>
  <%= @recipe.cooktime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul class="list-group">
    <% @recipe.ingredient_list.each do |ingredient| %>
      <li class="list-group-item"><%= ingredient %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<!-- #C# Rendering the comment form -->
  <%= render "comment", comment: @comment %>
<!-- #C# -->

<!-- Restrictions : When not the user id on the recipe, can't do these -->
<% if !current_user.nil? && @recipe.user_id == current_user.id %>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Destroy', @recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %> 