<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <br>

  
    <h3 class="pacifico"> 
    <% if current_user == @user %>
         Hey 
    <% end %>
    Chef <%= @user.username %> !
    </h3>

    <br>

    <strong>Description:</strong>
    <p><%= @user.description %></p>

    <strong>Rank is :</strong>
    <% case @user.recipes.count %>
    <% when 0 %>
    <p>Beginner <%= link_to image_tag(("/items/logos_template/rank1.png"))%></p>
    <% when 1..2 %>
    <p>Kitchen commi <%= link_to image_tag(("/items/logos_template/rank2.png"))%></p>
    <% when 3..4 %>
    <p>Chef  <%= link_to image_tag(("/items/logos_template/rank3.png"))%></p>
    <% when 5..6 %>
    <p>Master <%= link_to image_tag(("/items/logos_template/rank4.png"))%></p>
    <% when 7..100 %>
    <p>Gordon Ramsay <%= link_to image_tag(("/items/logos_template/rank5.png"))%></p>
    <% end %>

    <% if current_user == @user %>
 
        <strong> You have :</strong> <p> <%= @user.recipes.count %> points </p>
        <em>How does it works ? </em>
        <br>
        Each recipe is equal to 1 point.</p>
        Post more recipes to upgrade your logo and show off.
        <!-- New recipe logo link -->
        <br>
        <%= link_to image_tag("newrecipelogo.png"), new_recipe_path, title: 'New Recipe' %>
        <br>

    <% end %>

    <!-- Edit profil button -->
    <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
    <% end %>


    <!-- Link to all of user recipes -->
     <h1 class="pacifico"> <%= @user.username %> recipes </h1>
     <hr>
        <% @user.recipes.each do |recipe| %>
          <div class="col-md-6">
            <div class="card card-inverse">
            <% if !recipe.pictures.first.blank? %>
              <%= link_to image_tag(recipe.pictures.first.fourhundredf), recipe_path(recipe), :class => 'card-img' %>
            <% else %>
              <%= link_to image_tag("/items/nopicture.png"), recipe_path(recipe), :class => 'card-img' %>
            <% end %>
              <div class="card-img-overlay">
                <h4 class="card-title" id="pacifico"><%= recipe.title %></h4>
                <p class="card-text"><%= recipe.description %></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>   
          </div>
        <% end %>  
    </div>
  </div>
</div>