<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
    <br>

  
    <h3 class="pacifico"> 
    <% if current_user == @user %>
         Hey 
    <% end %>
    Chef <%= @user.username %> !
    </h3>

    <br>

    <strong>Description:</strong>
    <p><%= @user.description %></p>

    <strong>Rank is :</strong>
   <%= image_tag(@user.rank_image)%>


    <% if current_user == @user %>
 
        <strong> You have :</strong> <p> <%= @user.recipes.count %> points </p>
        <em>How does it works ? </em>
        <br>
        Each recipe is equal to 1 point.</p>
        Post more recipes to upgrade your logo and show off.
        <!-- New recipe logo link -->
        <br>

          <%= link_to image_tag("newrecipelogo.png"), new_recipe_path, title: 'New Recipe' %>

        <br>

    <% end %>

    <!-- Edit profil button -->
    <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
    <% end %>


    <!-- Link to all of user recipes -->
     <h1 class="pacifico"> Chef recipes </h1>
     <hr>
    
      <% @user.recipes.each do |recipe| %>
       <%= link_to recipe_path(recipe), class:'card-img' do %>
          <div class="col-lg-6">
            <div class="card card-inverse">
             <%= image_tag recipe.pictures.first.fourhundredf, class: "card-img" %>
              <div class="card-img-overlay">
                <h4 class="card-title" id="pacifico"><%= recipe.title %></h4>
                <p class="card-text"><%= recipe.description %></p>
                <p class="card-text"><small class="text-muted"></small></p>
              </div>
            </div>   
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>
</div>